@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #00a8bf;
}

body {
  color: #fff;
  background-color: #000;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.primary-text {
  color: var(--primary-blue);
}

.border-1 {
  border-width: 1px;
}

.border-primary {
  border-color: var(--primary-blue);
}

.project {
  background-color: rgba(0, 0, 0, 0.2);
  @apply p-6 mb-10 rounded;
}

.btn-primary {
  transition: all 0.5s ease;
  @apply py-2 px-7 border-1 rounded border-primary;
  color: var(--primary-blue);

  &:hover {
    background-color: var(--primary-blue);
    color: #000;
  }
}

.propic {
  width: 100%;
  border-radius: 50%;
}

.skill {
  height: 50px;
  background-color: #505050;
  border-radius: 4px;
  padding: 8px 16px;
}

@layer base {
  h1 {
    @apply text-6xl font-semibold;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-xl md:text-3xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
