@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-blue: #00a8bf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.primary-text {
  color: var(--primary-blue);
}

.border-1 {
  border-width: 1px;
}

.border-primary {
  border-color: var(--primary-blue);
}

.btn-primary {
  transition: all 0.5s ease;
  @apply py-2 px-7 border-1 rounded border-primary;
  color: var(--primary-blue);

  &:hover {
    background-color: var(--primary-blue);
    color: #000;
  }
}

.propic {
  width: 100%;
  border-radius: 50%;
}

.skill {
  height: 50px;
  background-color: #505050;
  border-radius: 4px;
  padding: 8px 16px;
}

@layer base {
  h1 {
    @apply text-6xl font-semibold;
  }

  h2 {
    @apply text-5xl;
  }

  h3 {
    @apply text-4xl;
  }

  h4 {
    @apply text-xl md:text-3xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
